---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About | Twistinside">
  <div class="about-container">
    <div class="about-content">
      <h2>The Author</h2>
      
      <p>
        My name is Karl. I'm a second career developer, and most of my few years as a profeessional developer has been working in production backend systems. I made the switch to mobile development in late 2024. My home or passion projects tend to be Swift based, though I haven't been able to fully overlap my professional and personal goals yet.
      </p>
      
      <p>
        My previous career was in health care where I was a registered nurse. Though no one asks me any interesting health related questions at work anymore, I secretly hope it will come up in a meeting one day.
      </p>
      
      <p>
        If I have not satisfied your curiosity, you can find out more about me at <a href=https://github.com/twistinside>GitHub</a> or <a href=https://www.linkedin.com/in/karl-groff-43a32876>LinkedIn</a>.
      </p>
      
      <h2>The Website</h2>
      
      <p>
        This site is an Astro project hosted by my domain name registrar, <a href=https://porkbun.com>Porkbun</a>. The code is managed (and public at the link above) on GitHub and published using GitHub actions. I am generaly very happy with all of the above!
      </p>
      
      <p>
        I use a few fonts throughout the site. The title and aside is in <a href=https://deathoftypography.com/nightingale>Nigthingale</a> by <a href=https://deathoftypography.com>Death of Typography</a>. The body and heading text is in <a href=https://www.fontshare.com/fonts/sentient>Sentient</a> by <a href=https://www.indiantypefoundry.com>Indian Type Foundry</a>. Finally, code is in <a href=https://github.com/iaolo/iA-Fonts/tree/master/iA%20Writer%20Mono>iA Writer Mono</a> by <a href=https://ia.net>iA</a>.
      </p>
      
      <h2>Twistinside and Generative AI</h2>
      
      <p>
        I am a huge fan of generative AI, and I use it constantly as a sounding board and even mentor. Much of this site was created while in deep discussion with one robot or another, but I see generative AI as an adjunct to the creative endevors of a person. While much of the code for the site was written by generative AI, the design and content was not.
      </p>
      
      <p>
        The thoughts expressed here are artisinal and hand crafted, and will remain so.
      </p>
    </div>
  </div>
</BaseLayout>

<style>
  .about-container {
    max-width: 700px;
    margin: 0 auto;
  }
  
  h1 {
    margin-bottom: 2rem;
  }
  
  h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .about-content p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }
</style>
