---
const currentYear = new Date().getFullYear();
---
<footer class="site-footer">
  <div class="copyright">
    Copyright &copy; {currentYear} Karl Groff.
  </div>
</footer>

<style>
  .site-footer {
    background: black;
    color: white;
    font-family: 'Nightingale', serif;
    padding: 5rem;
    text-align: center;
    margin-top: 2rem;
  }
  
  .copyright {
    font-size: 0.9rem;
  }
</style>
